<!doctype html>
<html>

<head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="homepage.css">
</head>

<body>
    <h1>ANASTASIA MONTOYA</h1>
    </p>

    <p id="tagline">
        Creative Writer & Media Analyst turned Strategist
    </p>

    <div class="container">
        <img id="brainPhoto" src="https://i.ibb.co/k0GhyPf/Picture1-clipped-rev-1.png"
            alt="my dynamic brain with popups">
        <br>
        <button class="btn tooltip" id="btn1">
            <span class="tooltiptext leftToolTip">
                Minored in Psychology with a focus on Behavioral Psychology
                <br>
                <br>
                This study of the behavior of people allows her to understand both how the consumer thinks, and what
                they will
                ultimately respond to
            </span>
        </button>
        <button class="btn tooltip" id="btn2">
            <span class="tooltiptext leftToolTip" id="tooltip2">
                From start to finish, strategized the plan for La-Z-Boy’s Labor Day 2019 Campaign and led the campaign
                set—up
                and
                maintenance, owning the daily optimizations and reporting.
                <br>
                <br>
                Under her control, La-Z-Boy’s CPC improved 13% YoY and CTR increased 11% versus the previous promo
                period.
            </span>
        </button>
        <button class="btn tooltip" id="btn3">
            <span class="tooltiptext leftToolTip" id="tooltip3">
                Single-handedly revamped the billing as well as the trafficking process for her team, improving
                efficiency and
                providing
                the system for these processes that is still used today.
            </span>
        </button>
        <button class="btn tooltip" id="btn4">
            <span class="tooltiptext leftToolTip">
                Keeping in time with the rhythm of the boat, Anastasia led a team of thirty men to victory in over a
                dozen
                different
                regattas, including winning gold for the Varsity 4+ at the annual Western Intercollegiate Rowing
                Association
                Championship two years in a row.
                <br>
                <br>
                These victories can be attributed to her pre-planned strategy, anticipation for obstacles, and her
                quick,
                executive
                decision-making.
            </span>
        </button>
        <button class="btn tooltip" id="btn5">
            <span class="tooltiptext rightToolTip" id="tooltip5">
                B.A. in English with a concentration of Creative Writing
                <br><br>
                In the summer of 2016, she attended a highly competitive one month long Creative Writing program at NYU,
                being
                taught
                and mentored by some of the best contemporary writers in the field today.
            </span>
        </button>
        <button class="btn tooltip" id="btn6">
            <span class="tooltiptext rightToolTip" id="tooltip6">
                Since the moment she first picked up a pen, she’s been drawing and sketching everything from the lazy
                cat next
                door to
                the wildflowers of Texas.
                <br><br>
                She dreams of someday writing and illustrating a Children’s Book
            </span>
        </button>
        <button class="btn tooltip" id="btn7">
            <span class="tooltiptext rightToolTip" id="tooltip7">
                In her free time, she loves to cook everything from her world’s famous Mexican Street Corn Salad to her
                roommate’s
                favorite Brown Butter Carrots. Cooking for Anastasia is an art form, and to her, recipes are used to
                create the
                foundation—the fun begins when you start to build on top.
            </span>
        </button>
        <button class="btn tooltip" id="btn8">
            <span class="tooltiptext rightToolTip" id="tooltip8">
                In the summer of 2014, she joined forces with a group of misfits from the small town of Morgan Hill, CA,
                and
                created an
                anti-bullying organization called, “Mind Before Mouth.”
                <br><br>
                From 2014 to 2016, she had the opportunity to speak at dozens of schools, present to groups of local
                leaders,
                and talk
                about the important of thinking before you speak in front of giant crowds.
            </span>
        </button>

    </div>

    <p style="text-align:right">
        <a href="mailto:asmontoya95@gmail.com"><img class="socialLink" src="https://i.ibb.co/y4BmQxC/email.png"
                alt="email" border="0"></a>
        <a href="https://www.linkedin.com/in/anastasiamontoya/"><img class="socialLink"
                src="https://i.ibb.co/pZhFy9w/linkedin.png" alt="linkedin" border="0"></a>
</body>

</html>